.img-width{
    width:100px
}

.name-width{
    width:200px
}

.email-width{
    width:20px
}

.quantity-width{
    width:100px
}
.price-width{
    width:100px
}
.supplier-width{
    width:200px
}

.button-width{
    width:150px
}