@media only screen and (max-width:576px){
    .products-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
}

@media only screen and (min-width:577px){
    .products-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
}

@media only screen and (min-width:992px){
    .products-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
}
